<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
    %link(rel="stylesheet" href="styles.css")
    %title Document

  %body
    .navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      %a.navbar-brand(href="#")
        %img
          PD

      %a.btn-light(href="#porfolio")
        Portfolio
      %a.btn-light(href="#about")
        About
      %a.btn-light(href="#contact")
        Contact

    %main.m-3
      .jumbotron
        .row
          .col
            .title.poppins.bold.mt-3.mx-auto.ml-lg-0
              .subtitle.poppins.bold
                Pedro
              Donda
        .row
          .col.col-md-8
            %p.my-5text-center
              Hello!<br>
              I'm a Full-Stack developer with a few cards up his sleeve.<br>
              I can help you build a product, feature or website. Look through some of my work and experience! <br>
              If you like what you see and have project you need coded, don’t hesitate to contact me.
        .row
          .col
            .socials.container
              %p.bold
                You can also find me here:
              .icons.container-lg.bg-dark.py-4.py-lg-2
                %a{:href => "https://github.com/phfdonda"}
              %img.icon{:alt => "github", :src => "images/github.svg"}/
            %a{:href => "https://www.linkedin.com/in/pedro-donda/"}
              %img.icon{:alt => "linkedin", :src => "images/linkedin.svg"}/
            %a{:href => "https://twitter.com/phfdonda"}
              %img.icon{:alt => "twitter", :src => "images/twitter.svg"}/

      %div#portfolio.container-fluid.jumbotron
        .row
          %h1.my-4.display-4
            My Portfolio
        .row
          .col-md
            .card.my-2.bg-dark.text-white
              .card-body
                %h2.card-title.poppins.normal
                  Story Weavers

                %img.card-img-top(src="images/storyWEavers-home.png" alt="")
                .icons.p-3
                  %img.icon(alt="html" src="images/html5.svg")
                  %img.icon(alt="html" src="images/css3.svg")
                  %img.icon(alt="html" src="images/ruby.svg")
                  %img.icon(alt="html" src="images/rails.svg")

                .check-project.text-center
                  %a.btn.btn-secondary.btn-lg.col-md-8
                    Check this project
          .col-md
            .card.my-2.bg-dark.text-white
              .card-body
                %h2.card-title
                  Card Title

                %img.card-img-top(src="images/adoptmeow.jpg" alt="")
                .icons.p-3
                  %img.icon(alt="html" src="images/html5.svg")
                  %img.icon(alt="html" src="images/css3.svg")
                  %img.icon(alt="html" src="images/ruby.svg")
                  %img.icon(alt="html" src="images/rails.svg")
                .check-project.text-center
                  %a.btn.btn-secondary.btn-lg.col-md-8
                    Check this project
          .col-md
            .card.my-2.bg-dark.text-white
              .card-body
                %h2.card-title
                  Card Title
                %img.card-img-top(src="images/storyWEavers-home.png" alt="")
                .icons.p-3
                  %img.icon(alt="html" src="images/html5.svg")
                  %img.icon(alt="html" src="images/css3.svg")
                  %img.icon(alt="html" src="images/ruby.svg")
                .check-project.text-center
                  %a.btn.btn-secondary.btn-lg.col-md-8
                    Check this project
      %div#about.container-fluid.jumbotron
        .row
          %h1.my-4.display-4
            About me
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam doloribus cupiditate, vero, consequatur quae distinctio sequi at esse quibusdam soluta explicabo, debitis voluptatum veniam quia autem excepturi ipsam iusto?
        .row
          .col-md
            .card.bg-dark.text-white.my-2
              .card-body
                %h2.card-title
                  Languages
                %ul.list-group
                  %li.list-group-item.bg-dark
                    HTML/CSS
                  %li.list-group-item.bg-dark
                    JavaScript
                  %li.list-group-item.bg-dark
                    Ruby
                  %li.list-group-item.bg-dark
                    Python
          .col-md
            .card.bg-dark.text-white.my-2
              .card-body
                %h2.card-title
                  Frameworks
                %ul.list-group
                  %li.list-group-item.bg-dark
                    Bootstrap
                  %li.list-group-item.bg-dark
                    Ruby on Rails
                  %li.list-group-item.bg-dark
                    Node.js
                  %li.list-group-item.bg-dark
                    React
          .col-md
            .card.bg-dark.text-white.my-2
              .card-body
                %h2.card-title
                  Skills
                %ul.list-group
                  %li.list-group-item.bg-dark
                    Github
                  %li.list-group-item.bg-dark
                    Agile Development
                  %li.list-group-item.bg-dark
                    Pair Programming
                  %li.list-group-item.bg-dark
                    Remote Work
      %div#contact.container-fluid.jumbotron
        .row
          .col.col-12.col-md-6
            %h1.my-4.display-4
              Let's make it happen!
            %p
              So, you want a website that is beautiful AND works? I'm game, so let's talk. Send me a message and we'll make it happen!

            %form(action="/" method="post")
              .form-group
                %input#clientName.form-control(type="text" placeholder="Your name")
              .form-group
                %input#clientEmail.form-control(type="email" placeholder="Your email")
                %small.form-text.text-muted
                  We'll never share your email with anyone else, rest assured.
              .form-group
                %textarea.form-control(placeholder="Tell me! What do you have in mind?")
              .form-group
                .btn.btn-secondary(type="submit")
                  Submit
