<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
    %link(rel="stylesheet" href="styles.css")
    %title Pedro Donda

  %body
    .navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top.m-0
      .row.d-flex.container-fluid
        .col-1
          %a.navbar-brand.m-0(href="#")
            %img
              PD
        .col-10.poppins.bold.d-flex.align-items-center.justify-content-around.justify-content-lg-end
          %a.btn-light.mx-lg-3(href="#portfolio")
            Portfolio
          %a.btn-light.mx-lg-3(href="#about")
            About
          %a.btn-light.mx-lg-3(href="#contact")
            Contact

    %main.m-3
      .jumbotron
        .title.poppins.bold
          .subtitle.poppins.bold
            Pedro
          Donda
        %p.my-5
          Hello!
          %br
          I'm a FullStack Web Developer with a few tools in his box.
          %br
          You have a website you want done, let's talk!

        .socials.container
          %p.bold
            You can also find me here:
          .icons.container-lg.bg-dark.py-4.py-lg-2
            %a{:href => "https://github.com/phfdonda"}
              %img.icon{:alt => "github", :src => "images/github.svg"}/
            %a{:href => "https://www.linkedin.com/in/pedro-donda/"}
              %img.icon{:alt => "linkedin", :src => "images/linkedin.svg"}/
            %a{:href => "https://twitter.com/phfdonda"}
              %img.icon{:alt => "twitter", :src => "images/twitter.svg"}/

      %div#portfolio.container-fluid.jumbotron
        .row
          %h1.my-4.display-4
            My Portfolio
        .row
          .col-md
            .card.my-2.bg-dark.text-white
              .card-body
                %h2.card-title.poppins.normal
                  Story Weavers

                %img.card-img-top(src="images/storyWEavers-home.png" alt="")
                .badges.d-flex.my-3
                  %span.badge.badge-secondary.p-2
                    HTML/CSS
                  %span.badge.badge-secondary.p-2
                    Ruby
                  %span.badge.badge-secondary.p-2
                    Rails
                  %span.badge.badge-secondary.p-2
                    Capybara
                  %span.badge.badge-secondary.p-2
                    RSpec

                .check-project.text-center
                  %a.btn.btn-secondary.btn-lg.col-md-8
                    Check this project
          .col-md
            .card.my-2.bg-dark.text-white
              .card-body
                %h2.card-title
                  Adopt Meow

                %img.card-img-top(src="images/adoptmeow.jpg" alt="")
                .badges.d-flex.my-3
                  %span.badge.badge-secondary.p-2
                    HTML/CSS
                  %span.badge.badge-secondary.p-2
                    Ruby
                  %span.badge.badge-secondary.p-2
                    Capybara
                  %span.badge.badge-secondary.p-2
                    RSpec
                .check-project.text-center
                  %a.btn.btn-secondary.btn-lg.col-md-8
                    Check this project
          .col-md
            .card.my-2.bg-dark.text-white
              .card-body
                %h2.card-title
                  Card Title
                %img.card-img-top(src="images/storyWEavers-home.png" alt="")
                .badges.d-flex.my-3
                  %span.badge.badge-secondary.p-2
                    HTML/CSS
                  %span.badge.badge-secondary.p-2
                    Ruby
                  %span.badge.badge-secondary.p-2
                    Capybara
                  %span.badge.badge-secondary.p-2
                    RSpec
                .check-project.text-center
                  %a.btn.btn-secondary.btn-lg.col-md-8
                    Check this project
      %div#about.container-fluid.jumbotron
        .row
          .col
            %h1.my-4.display-4
              About me
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam doloribus cupiditate, vero,
        .row
          .col-md
            .card.bg-dark.text-white.my-2
              .card-body
                %h2.card-title
                  Languages
                %ul.list-group
                  %li.list-group-item.bg-dark
                    HTML/CSS
                  %li.list-group-item.bg-dark
                    JavaScript
                  %li.list-group-item.bg-dark
                    Ruby
                  %li.list-group-item.bg-dark
                    Python
          .col-md
            .card.bg-dark.text-white.my-2
              .card-body
                %h2.card-title
                  Frameworks
                %ul.list-group
                  %li.list-group-item.bg-dark
                    Bootstrap
                  %li.list-group-item.bg-dark
                    Ruby on Rails
                  %li.list-group-item.bg-dark
                    Node.js
                  %li.list-group-item.bg-dark
                    React
          .col-md
            .card.bg-dark.text-white.my-2
              .card-body
                %h2.card-title
                  Skills
                %ul.list-group
                  %li.list-group-item.bg-dark
                    Github
                  %li.list-group-item.bg-dark
                    Agile Development
                  %li.list-group-item.bg-dark
                    Pair Programming
                  %li.list-group-item.bg-dark
                    Remote Work
      %div#contact.container-fluid.jumbotron
        .row
          .col.col-12.col-lg-5
            %h1.my-4.display-4
              Let's make it
              %br
              %span.display-2
                happen!
          .col.col-12.col-lg-3
            %p.text-center.text-lg-right
              So, you want a website
              %br.d-none.d-lg-inline
              that is beautiful AND works?
              %br
              Send me a message, tell me how you want it, and together we will see it come to life!

          .col.col-12.col-lg-4.d-flex.justify-content-lg-start
            %form.card.p-3.bg-dark(action="/" method="post")
              .form-group
                %input#clientName.form-control(type="text" placeholder="Your name")
              .form-group
                %input#clientEmail.form-control(type="email" placeholder="Your email")
                %small.form-text.text-white
                  I'll never share your email with anyone else, rest assured.
              .form-group
                %textarea.form-control(placeholder="Tell me! What do you have in mind?")
                %small.text-white
                  To extend the text area, click the right bottom corner and drag it.
              .form-group
                .btn.btn-secondary.align-self-end(type="submit")
                  Submit
    %footer.p-4.bg-dark.text-white.text-center.d-flex.thin.poppins
      © 2020 Copyright: Pedro Donda <br>Done in Brazil with &#10084;
